.slide{
    width: 1000px;
    margin: auto;
    margin-top: 100px;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    width: 300px;
    background: #fff;
    text-align: center;
    font-size: 15px;
    font-family: sans-serif;
    float: left;
    margin: 10px;
}
.card:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}
.container{
    padding: 2px 16px;
}
.category{
    border: none;
}

.collection{
    display: flex;
    flex-wrap: wrap;
}
.testimonials{
    background-color: greenyellow;
}
.testimonials .carousel-item{
    padding-left: 3px;
}
.testimonials .testimonial-text{
    line-height: 2rem;
    font-weight: 300;
    
}
.testimonials .testimonial-text::before{
    content: open-quote;
    position: absolute;
    top: 3px;
    font-weight: 500;
}
.testimonials span{
    font-weight: 600;
}
